<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <script src=""></script>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			{% include sidebar.html %}
		</div>
		<div class="content">
			<i class="fa fa-bars"></i>
			{{ content }}
		</div>
	</div>
  </body>
<script>
// Open and close sidebar
function menu_open() {
  document.querySelector(".sidebar").style.display = "block";
  // document.getElementById("myOverlay").style.display = "block";
}
 
function menu_close() {
  document.querySelector(".sidebar").style.display = "none";
  // document.getElementById("myOverlay").style.display = "none";
}
</script>
</html>