<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <script src="/public/js/jquery-3.4.1.min.js"></script>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
			<a class="menu-trigger" href="#" onclick="menu_openClose()">
				<span></span>
				<span></span>
				<span></span>
			</a>
  </body>
<script>
// Open and close sidebar
function menu_openClose() {	
	if($('.sidebar').css("display") == "block"){
		$('.sidebar').hide();
		$('.container').css("background", ""); 
	}else{
		$('.sidebar').show();
		$('.container').css("background", "#0005"); 
	}
}
	
var burger = $('.menu-trigger');

burger.each(function(index){
  var $this = $(this);
  
  $this.on('click', function(e){
    e.preventDefault();
    $(this).toggleClass('active-' + (index+1));
  })
});
</script>
</html>